/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-05-19, 17:37:22
    Author     : Adam11
*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700&subset=latin,latin-ext);

body{
    background-color:#404040;
    font-family: 'Josefin Sans', sans-serif;
}

a {
   text-decoration: none;

}

a:hover {
color:black;
}

#tytul{
    line-height:100px;
    float: left;
    width: 65%;
    color:white;
    font-size:50px;
    text-align:center;
    height:100px;
    background-color: #128870;
}

#tytul:hover{
        cursor: pointer;
}


#onas{
    line-height:45px;
    text-align:center;
    width: 33.3%;
    background-color:  #303030;
    color:white;
    float:right;
    height:45px;
    margin-bottom: 10px;  
}

#onas:hover{
    background-color:black;    
    cursor: pointer;

}

#napisz{
    line-height:45px;
    text-align:center;
    width: 33.3%;
    background-color: #303030;
    color:white;
    float:right;
    height:45px;
    
}
#napisz:hover{
    background-color:black;
    cursor: pointer;
}

#cytat{
    line-height:40px;
    text-align:center;
    margin-top:10px;
    background-color:  #303030;
    height:40px;
    color:white;
}

#c{
	line-height:25px;
	text-align:center;
    padding-top: 2%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom:2%;
	font-size:25px;
    display:table-cell;
    margin-top:0.5%;
    height:300px;
    float:left;
    width: 45.5%;
    background-color: #dedede;
    font-family: 'Josefin Sans', sans-serif;
	text-align:middle;

}
input[type="text"] {
    width: 200px;
	height:25px;
}
input[type="password"] {
    width: 200px;
	height:25px;
}
#cpp{
	padding-top: 2%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom:2%;
	border-radius: 0px 60px 0px 0px;
    margin-top:0.5%;
    height:300px;
    float:right;
    width: 45.5%;
	background-color: #dedede;

}


.ukryj{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size:20px;
    height: 50px;
    width: 200px;
    background-color: #128870;
    border:none;
}
.ukryj:hover{
        cursor: pointer;
}

#stopka{
    margin-top: 2%;
    height:45px;
    line-height: 45px;
    clear:both;
    color:white;
    background-color: black;
    text-align:center;
    font-size:18px;
    position:fixed;
    bottom:0;
    width:100%;
    z-index: -1;
}